/* TimeEntryForm.css
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.ion-modal-wrapper {
  background: transparent;
} */

/* .form-container {
  padding: 16px;
}

.ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ion-label {
  flex: 1;
}

.ion-input,
.ion-select,
.ion-toggle,
.ion-textarea {
  flex: 2;
  margin-left: 16px;
}

.ion-textarea {
  width: 100%;
} */


.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.ion-modal-wrapper {
  background: transparent;
}

.modal-close-button {
  margin-top: auto;
}

.custom-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--ion-color-primary);
}

.rabbit-icon {
  font-size: 3rem; /* Adjust size as needed */
  margin-bottom: 1rem;
}
