/* 

.loginlogo {
    text-align: center;
    margin-top: 25px;
  }
  
  .loginlogo img {
    width: 100px;
  }
  
  .inputsList {
    margin-top: 20px;
  }
  
  .texts {
    margin-bottom: 10px;
  }
  
  .reset-pwd-text {
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: block;
    color: #ccc;
    margin-top: 60px;
  }

  .input-with-icon {
    display: flex;
    align-items: center;
    width: 90%; /* Adjust width as needed */
  
/*   
  .sample-pwd-field-class{
    padding: 10px;
    margin-top: 25px;
  } */