/* ForgotPassword.css */

.loginlogo {
    text-align: center;
    margin-top: 20px;
  }
  
  .loginlogo img {
    width: 150px;
  }
  
  .inputarea {
    margin-top: 20px;
  }
  
  .texts {
    margin-bottom: 10px;
  }
  
  .reset-pwd-text {
    font-size: 16px;
    text-align: center;
    width: 100%;
    display: block;
  }
  
  .loginbtn {
    margin-top: 20px;
  }
  
  .validationError {
    color: red;
    font-size: 14px;
  }
  