

ion-segment{
    margin: 0px;
    background: linear-gradient(180deg, #307af8, #FFFFFF )!important;
    color:black
  }

.calender{
    padding-top: 5px;
}

ion-segment-button {
    font-size: x-small;
    padding: 0;
    min-width: 30px;
    font-weight: bold;
    text-align: center; 
   
   
  }
  
  .md ion-segment-button{
    height: 35px !important; 
    min-height: 30px !important;
    border-radius: 15px;
    --padding-top: 0px;
    --padding-bottom: 0px; 
 
   
    
  }


 
  
 .md .segment-button-checked{ 
    background-color: rgb(252, 252, 255);
    border-bottom: none;
    
    }
 .ios .segment-button-checked{background: #fff!important;  border-bottom: 2px solid blue; }

.buttonAero{
    color:#0163aa;
}

:host(.md) .segment-button-checked.segment-button-indicator-background {
    display: none !important; 
  }
  


ion-segment-button span{
    font-size: xx-small;
    font-weight: normal;
    color:black
    
    
}
ion-segment.calender{
    border-radius: 0px;
    border-top: 1px solid #051633;
    border-bottom:1px  #fff;
  
}

ion-grid{
    padding: 0px;
    margin: 0px;
}

ion-col{
    padding: 0px;
    margin: 0px;
}

ion-col ion-button{
    font-size: x-small;
    padding: 0px;
    margin: 0px;
}

ion-row{
    
    padding: 0px;
    margin: 0px;
}

ion-buttons ion-button{
    border-color: silver;
}

.no-timesheet-text{
    color: silver;
    font-size: small;
}
.dayName{
    font-weight: bolder;
   
}
.segment-button-checked span {
    font-weight:900;
    color: #0163aa;
    
  }
 div.segment-button-indicator{ border-bottom: 0px;}



  