/* *{
  scroll-behavior: none;
  overflow: auto;
} */

.profilHeader {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover;
    border: 1px solid rgb(159, 248, 248); 
  }
  .center-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .matter-Code-font {
    display: block; /* Ensures it takes the full width */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflowed content */
    text-overflow: ellipsis; /* Adds the ellipsis */
    max-width: 100%; 
    font-weight: bold;
    font-size: small;
  }

  .ellipsis{
    display: block; /* Ensures it takes the full width */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflowed content */
    text-overflow: ellipsis; /* Adds the ellipsis */
    max-width: 100%; 
    font-size: small;
    color: gray;
  }

  ion-fab-button[data-desc] {
    position: relative;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-light);
    padding: 5px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }

  .small-font{
    font-size: x-small !important;
  }

  .height-50-px{
    max-height: 150px !important;
  }


  .card-title{
    font-size: small !important;
  }
.icon-background{    
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fad160;
   padding: 1px;
  color:#ffffff;}

.billable-hours, .exp-reimbursed{color: green; font-size: x-small; font-weight: 600;}
.nonbillable-hours, 
.exp-balance
{color: 
  red; 
  font-size: x-small; 
  font-weight: 600;

}


.billable-hours, .nonbillable-hours, .exp-reimbursed {
  margin: 0; 
}
 

@media (max-width: 576px) {
  .dashboard-card-title {
    font-size: 1rem;
    font-weight: bolder;
  }

}



.validation-message {
  color: red;
  font-size: 0.rem;
  text-align: center;
  margin-top: 10px;
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  margin-top: 5vh;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid#3dc2ff; 
}



.profile-details {
  width: 100%;
}


.listHeader{
  font-weight: bolder;
  text-align: center;
  padding: 10px;
}
.logout-button {
 
  width: 50%;
  border-radius: 5px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-align: center;
}




.modal-close-button {
  margin-top: auto;
}

.modal-style {

  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
 
}
.custom-toolbar {
  background-color: #3dc2ff;
  color: white;
}


/* ForgotPassword.css */

.loginlogo {
  text-align: center;
  margin-top: 25px;
}

.loginlogo img {
  width: 100px;
}

.inputsList {
  margin-top: 20px;
}

.texts {
  margin-bottom: 10px;
}

.reset-pwd-text {
  font-size: 15px;
  text-align: center;
  width: 100%;
  display: block;
  color: #ccc;
  margin-top: 60px;
}

.input-with-icon {
  display: flex;
  align-items: center;
  width: 90%; /* Adjust width as needed */
}

.sample-pwd-field-class{
  padding: 10px;
  margin-top: 25px;
}

/* login.css */
.login-content {
  --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(39, 55, 180),rgb(35, 148, 228));
 
}




.login-card {
  
  margin-top: 40px;
  background:none;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
   display:  flex;
  justify-content: space-between;
  min-height: 650PX;



}

.login-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  

}

.login-logo {
  width: 230px;
}

.texts {
  margin-bottom: 20px;
  border-radius: 20px;
color: rgb(58, 57, 57);
background: #fff!important;  border-bottom-left-radius: 2px solid blue;

  
}

.lablesLogin{
display: block;
font-size: 14px;
color:white;
margin: 8px;

}
.transparent-bg-btn {
  background: transparent;
  box-shadow: none;
}

.transparent-bg-btn .blu-icon {
  color: #3880ff;
}

.login-links {
  display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-top: 50px;
 
}
.remMe{
  display: flex;
  margin-bottom: 20px;
 
}
.centered-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}


.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.photo-item {
  position: relative;
  margin: 10px;
}

.photo-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-button {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: rgba(255, 0, 0, 1);
}

.light-green {
  color: lightgreen; 
}


.boldAmount{
  font-weight: bold;
}

  .icn-pad-right {
    margin-right: 8px;
  }
  .timesheet-item{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#time-list{
    padding: 0px !important;
    margin: 0px !important;
}

.small-font{
    font-size:smaller !important;
    color: darkgray;
}

.time-text{
    font-size: small !important;
    color: blue;
    font-weight: 600;
    margin-inline-start: 5px;
}


.action-item{
    font-size: small !important;
}
.btninlinemarg{margin-inline-start: 0px;}
.Billable-nonbillable-hrs{font-size: x-small; color: gray; text-align: right;}
.Billable-nonbillable-hrs span:first-child{color: green;  padding:0px 3px 0px 0px;}
.Billable-nonbillable-hrs span:last-child{color:red; padding:0px 0px 0px 5px;}

.work-done-desc{font-size: small!important; color:rgb(46, 46, 46)!important; }

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  margin-top: 5vh;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid#3dc2ff; 
}



.profile-details {
  width: 100%;
}


.listHeader{
  font-weight: bolder;
  text-align: center;
  padding: 10px;
}
.logout-button {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}


.filterBar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  white-space:nowrap;
  height: 4vmax;
  background: linear-gradient(180deg, #FFFFFF, #D7E2FF )!important;
  border-bottom: 1px solid #88A6F3;
 font-size:small;
 color: black;
 padding: 0px 3px;

}
.font-bold{
  font-weight: bold;
}
.filterName {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: inline-block;
  vertical-align: middle;
  max-width: 80px; 
  font-weight: bold;
  font-size: 10px !important;
}

.filterButton {
  display: flex;
  align-items: center;
  border-bottom: none !important;
  background:#3880ff;
  color: #fff;
  border-radius: 2px;
 
 
}
.btns{
  margin-right: -5px;
}

.filterIcon {
  font-size: 15px;
  margin-right: 2px; 
  display: inline-block;
  vertical-align: middle;
}


.filtersBar .nopadding {
  padding: 0;
}

.filtersBar .ion-button {
  margin-right: 10px;
}
.total-exp{
  color: #3880ff;
  font-size: x-small;
}

.text-center{
  text-align: center;

}

.view-lable{
  margin:10px
}

.validationLabel{
  
  font-weight: bold;
  display:block;
  width: 98%;
  text-align: center;
  align-items: center;
  color:red;
  font-size: small;
  bottom: 5px;
  box-sizing: border-box;
  position:fixed;
  z-index: 9999999;
  background:#ffe4e1;
  padding: 10px 0px;
  border-radius: 10px;
  margin-left: 4px;
  border:0.9px solid #ffddca;
}
.validationIcon{
  font-size: 20px;
  margin-bottom: -6px;;
 }
.chart-in-card{
    margin-top: 12px;
    position: absolute;
    text-align: left;
     right: 0px;
    background-size: 100%;
    height: 90px;
    width: 100px;
}
.bgIcon{
  position: absolute;
  text-align: left;
   right: 0px;
  background-size: 100%;
  height: 90px;
  width: 100px;
  
}

.button-group ion-button {
  flex: 1;
  margin: 0 4px; 
  border-radius: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-weight: bolder;
}

.comments{ 
  background:aliceblue; 
  border:1px solid #88A6F3; 
  margin:10px  5%; 
  border-radius: 10px; 
  box-shadow:  0 10px 6px -6px #777;
}
.remove-border {
  --inner-border-width: 0px;
}
.large-text {
  font-size: 1.3em !important; 
}
.text-ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: fit-content;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}
.customMenuBtn{
  font-size:smaller !important;
}
.greeting-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333; 
  text-align: center;
  margin: 0;
  padding: 10px 0; 
}
.card-header{
  padding: 0px !important;
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin: 1px;  
  font-weight:700 !important;
  line-height: 25px !important;
  z-index: 100;
  vertical-align: top !important;
  margin-bottom: 15px;
  margin-top: 5px;
 }

  
.card-labels {

  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;   
  text-overflow: ellipsis; 
  font-weight: bolder;
  margin-left: 10px;
  width: 155px;
  font-weight:600;
  line-height: 30px;
}

.dashboard-card {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.5px solid #e4e4e4 !important;
  border-radius: 8px;
  box-shadow: none !important;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  width: 90%;
  margin: 8px auto !important;
  
}

.card-icon{
  font-size:20px ;
  margin-right: 5px;
  color: #3880ff;
  margin-left: 10px;
 
}


.dashboard-card-title {
  display: flex;
  align-items: center;
 background-color: #eeeeee !important;
  padding:8px 5px;
   font-weight:bolder;
   padding-left: 15px;
   white-space: nowrap; 
  overflow: hidden;       
  text-overflow: ellipsis;
  padding-left: 2px;
  font-size: 1rem;

}



.billable-time{
  color: #36A2EB ; font-weight: bolder; font-size:small;
}
.non-billable-time{
  color:#FF6384 ; font-weight: bolder; font-size: small;
}
.total{  text-align: right;  color:gray; font-weight: bolder; font-size: small;}
.total-time{  text-align: right;  color:#3880ff; font-weight: bolder; font-size: small;}


.chart-content{
  background:aliceblue; 
  border:1px solid #88A6F3; 
  margin:10px  5%; 
  border-radius: 20px; 
  padding: 10px;

}
.chart-data{
  padding: 15px;
  display: flex;
  justify-content: center;
  line-height: 25px;
  margin-left: 5px;

}
.chart-data span.total{ 
  overflow: hidden;  
  white-space: nowrap;   
  text-overflow: ellipsis; 
  font-weight: bolder;
}
@media (max-width: 400px) {
 
  .dashboard-card {
    margin: 6px 0;
    padding: 0px;
    border-radius: 8px;
  }
 
  .card-content {
    line-height: 20px;
    padding: 5px;
    font-size: 0.8rem;
  }


  .total, .billable-time, .non-billable-time {
    font-size: 0.80rem;
   
  }


}


@media (max-width: 320px) {
 
  .dashboard-card {
    margin: 6px 0;
    padding: 0px;
    border-radius: 8px;
  }

  .card-content {
    line-height: 20px;
    padding: 5px;
    font-size: 0.5rem;
  }
.card-labels{
  width: 80px;
}

  .total, .billable-time, .non-billable-time {
    font-size: 0.80rem;
   
  }


}
.menuBtn{
  display:  flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  padding: 2.5PX;
}


.matter-search-bar{
 border-radius: 20px;
  color: gray;
}

.searchbar-input.sc-ion-searchbar-md {
  -webkit-padding-start: 3.4375rem;
  padding-inline-start: 3.4375rem;
  -webkit-padding-end: 3.4375rem;
  padding-inline-end: 3.4375rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  height: auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  border-radius: 10px;
}

.blue{
  color:blue;
}

.orange{
  color: orange;
}

.actionBtn{
  height: 38px;
}


.icon-align {
  vertical-align: middle; 
}

.list-spans {
  line-height: 20px;
  vertical-align: middle;
 
}
.tagged-users-list{


  margin-top: 30px;
 
}
.disabled{
  color: #ccc !important;
}
ion-segment-button {
  --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
 

}