/* src/pages/MyProfile.css */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    margin-top: 5vh;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid#3dc2ff; 
  }
  
 
  
  .profile-details {
    width: 100%;
  }
  
 
  .listHeader{
    font-weight: bolder;
    text-align: center;
    padding: 10px;
  }
  .logout-button {
    width: 100%;
    margin-top: 20px;
  }
 